@media ( min-width : 320px ) and ( max-width : 500px ) {

  .CartSecondaryDiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 14px 12px;
  }

  .CartTotalDiv {
    padding: 14px 0;
  }

  .CartSomaTotal h3 {
    padding: 14px 12px;
  }

  .ItemCartDivRemoveButton button {
    all: unset;
    color: brown;
    padding: 0 5px;
  }

  /* Item Cart */
  .ItemCartDivPrincipal {
    align-items: center;
    display: flex;
  }

  .ItemCartDivPrincipal img {
    height: 100px;
    width: 100px;
  }

  .TitlePriceCart {
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  .ItemCartTitleDiv p {
    font-size: 12px;
    padding: 0 10px;
    width: 180px;
  }

  .ItemCartDivButtons {
    align-items: center;
    display: flex;
    margin: -12px 0 0;
    padding: 0 5px;
  }

  .ItemCartDivButtons button {
    all: unset;
    margin: 0 10px;
  }

  .ItemCartDivPrice p {
    padding: 0 6px;
  }

  /* VALOR TOTAL */
  .LinkBtn {
    text-decoration: none;
  }

  .CartTotalDiv button {
    all: unset;
    background-color: var(--1);
    border-radius: 6px;
    color: white;
    padding: 10px 14px;
  }

  .CartTotalDiv button:disabled {
    filter: grayscale(0.4) opacity(0.4);
  }
}
