.main-DestaquedoDia {
  align-items: center;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px 10px;
  padding: 5px 0 10px;
  width: 100%;
}

.main-DestaquedoDia h3 {
  padding: 10px;
}

.cada-DestaquedoDia {
  align-items: center;
  border-bottom: 1px solid rgb(244, 244, 244);
  display: flex;
}

.cada-DestaquedoDia:first-child {
  border-top: 1px solid rgb(244, 244, 244);
}

.cada-DestaquedoDia img {
  height: 110px;
  padding: 6px 4px;
}

.cada-DestaquedoDia article {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.mainFrete-DestaquedoDia {
  position: relative;
}

.frete-DestaquedoDia {
  align-items: center;
  color: rgb(73, 159, 23);
  display: flex;
  font-size: 14px;
  position: absolute;
  right: 90px;
  top: 30px;
  width: 100px;
}

.iconTruck-DestaquedoDia {
  font-size: 16px;
  margin: 0 0 0 5px;
}

.title-DestaquedoDia {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-DestaquedoDia {
  font-size: 18px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
