footer {
  background-color: var(--1);
  margin-top: 20px;
  padding: 0;
  width: 100%;
}

footer ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

footer li {
  list-style: none;
  margin-top: 10px;
}

footer a {
  color: white;
  font-size: 12px;
  font-weight: 500;
}
