/* stylelint-disable order/properties-alphabetical-order */

@media ( min-width : 320px ) and ( max-width : 500px ) {

  .paiProduto-Produto {
    background-color: white;
    border-radius: 6px;
    height: 300px;
    margin: 1px;
    width: 49%;
    padding: 0 12px;
  }

  .produtoLink {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
  }

  .produtoLink img {
    border-radius: 6px;
    width: 98%;
  }

  .produtoName {
    font-size: 0.8rem;
    max-width: 100%;
    height: 60px;
    overflow: hidden;

    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .produtoPrice {
    text-align: left;
    font-size: 1.3rem;
  }

  .produtoButton {
    all: unset;
    position: relative;
    bottom: 93%;
    left: 86%;
    font-size: 22px;
    color: rgba(75, 75, 75, 0.829);
  }

  .frete h4 {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50px;
    font-size: 16px;
    color: green;
  }

  .iconTruck-Produto {
    font-size: 20px;
    margin: 0 0 1px 5px;
  }
}
