@media ( min-width : 320px ) and ( max-width : 500px ) {

  .main-ProdutoDetalhado {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .main-ProdutoDetalhado button :nth-child( 1 ) {
    background-color: #dedddd;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: #3483fa;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 8px;
    padding: 14px 16px;
    width: 90%;
  }

  .btnBuy-ProdutoDetalhado {
    background-color: #3483fa;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: white;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 20px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 90%;
  }

  .btnAdd-ProdutoDetalhado {
    background-color: #dfdede;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: #3483fa;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 8px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 90%;
  }

  .voltar-ProdutoDetalhado {
    align-items: center;
    display: flex;
    margin-left: 10px;
    text-decoration: none;
  }

  .voltar-ProdutoDetalhado :first-child {
    font-size: 25px;
    text-decoration: none;
  }

  .title-ProdutoDetalhado {
    font-size: 18px;
    padding: 10px 20px;
  }

  .prices-ProdutoDetalhado {
    margin-bottom: -15px;
    padding: 10px 20px 0;
  }

  .oldPrice-ProdutoDetalhado {
    color: rgb(140, 140, 140);
  }

  .price-ProdutoDetalhado {
    font-size: 30px;
    margin-top: -6px;
  }

  .frete-ProdutoDetalhado {
    color: green;
    font-size: 18px;
    padding: 10px 20px;
  }

  .iconTruck-ProdutoDetalhado {
    margin: 0 0 0 10px;
  }

  .slider-ProdutoDetalhado {
    align-items: center;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    padding: 4px 6px;
  }

  .slider-ProdutoDetalhado img {
    border-radius: 6px;
    height: 300px;
    margin: 0 auto;
    padding: 3px;
    width: 300px;
  }

  .slider-ProdutoDetalhado span {
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
    font-size: 12px;
    margin: 10px;
    padding: 4px 6px;
  }
}

@media ( min-width : 501px ) and ( max-width : 800px ) {

  .main-ProdutoDetalhado {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .main-ProdutoDetalhado button :nth-child( 1 ) {
    background-color: #dedddd;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: #3483fa;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 8px;
    padding: 14px 16px;
    width: 90%;
  }

  .btnBuy-ProdutoDetalhado {
    background-color: #3483fa;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: white;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 20px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 400px;
  }

  .btnAdd-ProdutoDetalhado {
    background-color: #dfdede;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: #3483fa;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 8px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 400px;
  }

  .voltar-ProdutoDetalhado {
    align-items: center;
    display: flex;
    margin-left: 10px;
    text-decoration: none;
  }

  .voltar-ProdutoDetalhado :first-child {
    font-size: 25px;
    text-decoration: none;
  }

  .title-ProdutoDetalhado {
    font-size: 18px;
    padding: 10px 20px;
  }

  .prices-ProdutoDetalhado {
    margin-bottom: -15px;
    margin-left: 60px;
    padding: 10px 20px 0;
  }

  .oldPrice-ProdutoDetalhado {
    color: rgb(140, 140, 140);
  }

  .price-ProdutoDetalhado {
    font-size: 30px;
    margin-top: -6px;
  }

  .frete-ProdutoDetalhado {
    color: green;
    font-size: 18px;
    margin-left: 60px;
    padding: 10px 20px;
  }

  .iconTruck-ProdutoDetalhado {
    margin: 0 0 0 10px;
  }

  .slider-ProdutoDetalhado {
    align-items: center;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    padding: 4px 6px;
  }

  .slider-ProdutoDetalhado img {
    border-radius: 6px;
    height: 300px;
    margin: 0 auto;
    padding: 3px;
    width: 300px;
  }

  .slider-ProdutoDetalhado span {
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
    font-size: 12px;
    margin: 10px;
    padding: 4px 6px;
  }
}

@media ( min-width : 801px ) {

  .main-ProdutoDetalhado {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }

  .main-ProdutoDetalhado button :nth-child( 1 ) {
    background-color: #dedddd;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: #3483fa;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 8px;
    padding: 14px 16px;
    width: 90%;
  }

  .btnBuy-ProdutoDetalhado {
    background-color: #3483fa;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: white;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 20px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 500px;
  }

  .btnAdd-ProdutoDetalhado {
    background-color: #dfdede;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(225, 225, 225);
    color: #3483fa;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 8px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    width: 500px;
  }

  .voltar-ProdutoDetalhado {
    align-items: center;
    display: flex;
    margin-left: 11%;
    text-decoration: none;
    width: 80px;
  }

  .voltar-ProdutoDetalhado :first-child {
    font-size: 25px;
    text-decoration: none;
  }

  .title-ProdutoDetalhado {
    font-size: 18px;
    padding: 10px 20px;
  }

  .prices-ProdutoDetalhado {
    margin-bottom: -15px;
    margin-left: 34%;
    padding: 10px 20px 0;
  }

  .oldPrice-ProdutoDetalhado {
    color: rgb(140, 140, 140);
  }

  .price-ProdutoDetalhado {
    font-size: 30px;
    margin-top: -6px;
  }

  .frete-ProdutoDetalhado {
    color: green;
    font-size: 18px;
    margin-left: 60px;
    padding: 10px 20px;
  }

  .iconTruck-ProdutoDetalhado {
    margin: 0 0 0 10px;
  }

  .slider-ProdutoDetalhado {
    align-items: center;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    padding: 4px 6px;
  }

  .slider-ProdutoDetalhado img {
    border-radius: 6px;
    height: 300px;
    margin: 0 auto;
    padding: 3px;
    width: 300px;
  }

  .slider-ProdutoDetalhado span {
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
    font-size: 12px;
    margin: 10px;
    padding: 4px 6px;
  }
}
