/* stylelint-disable order/properties-alphabetical-order */

@media ( min-width : 320px ) and ( max-width : 500px ) {

  .paiProduto-Produto {
    background-color: white;
    border-radius: 6px;
    height: 350px;
    margin: 1px;
    width: 49%;
    padding: 0 12px;
  }

  .produtoLink {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
  }

  .produtoLink img {
    border-radius: 6px;
    width: 98%;
  }

  .produtoName {
    font-size: 0.8rem;
    max-width: 100%;
    max-height: 60px;
    overflow: hidden;
    margin: 5px 0 0;

    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .produtoOriginalPrice {
    color: rgb(156, 156, 156);
    text-align: left;
    font-size: 0.9rem;
  }

  .produtoPrice {
    text-align: left;
    font-size: 1.3rem;
  }

  .produtoButton {
    all: unset;
    font-size: 22px;
    color: rgba(75, 75, 75, 0.829);
    position: absolute;
  }

  .produtoButton:active {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.829);
  }

  .frete {
    height: 25px;
    margin-top: -10px;
  }

  .frete h4 {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: green;
  }

  .iconTruck-Produto {
    font-size: 20px;
    margin: 0 0 1px 5px;
  }
}

@media ( min-width : 501px ) and ( max-width : 650px ) {

  .paiProduto-Produto {
    background-color: white;
    border-radius: 6px;
    height: 60vw;
    margin: 3px;
    width: 40%;
    padding: 0 12px;
  }

  .produtoLink {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
  }

  .produtoLink img {
    border-radius: 6px;
    width: 98%;
  }

  .produtoName {
    font-size: 0.8rem;
    max-width: 100%;
    max-height: 60px;
    overflow: hidden;
    margin: 5px 0 15px;

    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .produtoOriginalPrice {
    color: rgb(156, 156, 156);
    text-align: left;
    font-size: 0.9rem;
  }

  .produtoPrice {
    text-align: left;
    font-size: 1.3rem;
  }

  .produtoButton {
    all: unset;
    font-size: 22px;
    color: rgba(75, 75, 75, 0.829);
    position: absolute;
  }

  .produtoButton:active {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.829);
  }

  .frete {
    height: 25px;
    margin-top: -10px;
  }

  .frete h4 {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: green;
  }

  .iconTruck-Produto {
    font-size: 20px;
    margin: 0 0 1px 5px;
  }
}

@media ( min-width : 651px ) and ( max-width : 800px ) {

  .paiProduto-Produto {
    background-color: white;
    border-radius: 6px;
    height: 370px;
    margin: 3px;
    width: 250px;
    padding: 0 12px;
  }

  .produtoLink {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
  }

  .produtoLink img {
    border-radius: 6px;
    width: 98%;
  }

  .produtoName {
    font-size: 0.8rem;
    max-width: 100%;
    max-height: 60px;
    overflow: hidden;
    margin: 5px 0 15px;

    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .produtoOriginalPrice {
    color: rgb(156, 156, 156);
    text-align: left;
    font-size: 0.9rem;
  }

  .produtoPrice {
    text-align: left;
    font-size: 1.3rem;
  }

  .produtoButton {
    all: unset;
    font-size: 22px;
    color: rgba(75, 75, 75, 0.829);
    position: absolute;
  }

  .produtoButton:active {
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.829);
  }

  .frete {
    height: 25px;
    margin-top: -10px;
  }

  .frete h4 {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: green;
  }

  .iconTruck-Produto {
    font-size: 20px;
    margin: 0 0 1px 5px;
  }
}
